html {
  font-size: 62.5%;
}

body {
  font-family: "Courier New", Courier, monospace, sans-serif;
  padding: 3.5rem;
  box-sizing: border-box;
  color: $color-light-grey;
}

.text-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  &__primary {
    backface-visibility: hidden;
    margin-bottom: 6rem;
  }

  &--main {
    display: block;
    color: $color-light;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: move-in-left 1s ease-in-out;
    text-transform: uppercase;
  }
  &--sub {
    display: block;
    color: $color-light;
    font-size: 2rem;
    letter-spacing: 1.3rem;
    animation: move-in-right 1s ease-in-out;
    text-transform: uppercase;
  }
}
