.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, #28b485a8, $light-green),
    url(../assets/person.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    left: 1.2rem;
    top: 1.2rem;
  }

  &__logo {
    height: 6rem;
    width: 6rem;
  }
}

.text-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  &__primary {
    backface-visibility: hidden;
    margin-bottom: 6rem;
  }

  &--main {
    display: block;
    color: #fff;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: move-in-left 1s ease-in-out;
    text-transform: uppercase;
  }
  &--sub {
    display: block;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1.3rem;
    animation: move-in-right 1s ease-in-out;
    text-transform: uppercase;
  }
}
